*.class

# Package Files #
*.jar
*.war
*.ear

/thaumcraft
/cpw
/ibxm
/net/minecraft
/net/minecraftforge
/mods
/net/aetherteam
/assets/natura
/assets/aether
/thaumcraft
/assets/forge
/com
/paulscode
*.cfg
fmlversion.properties
forge_logo.png
mcp.png
mcpmod.info
Start.java
*.lzma
